/*Formatierung für den body
Hintergrundfarbe, Schriftfarbe und Schriftfamilie*/

body {
    background-color: lightgrey;
    height: 100vh;
    font-family: 'Courier New', Courier, monospace;
    margin-left: auto;
    margin-right: auto;
    user-select: none;
    animation: trOpacity 1s;
}

header {
    background: #000000 url(../images/header.jpg) no-repeat;
    height: 10vh;
    background-position: center;
    background-size: cover;
    color: white;
    padding: 10px;
}

@keyframes trOpacity {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

#navmenu{
    background: SkyBlue;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#answer{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-around;
}

.aufgabe_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.timer_container{
    font-size: 1.3rem;
    font-weight: 600;
    display: flex;
    gap: 10px;
}

.aufgabe_h3{
    text-decoration: rgb(171, 207, 171) wavy underline;
    text-underline-offset: 4px;
    font-size: 1.2rem;
    font-weight: 600;
}

#boo{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    word-break: break-word;
}

/*btn*/
#navmenu button, .playBtn, #answer button{
    transition: background-color 0.4s;
    border-radius:.25rem;
    border:1px solid transparent;
    white-space: nowrap;
    cursor: pointer;
    touch-action: manipulation;
    overflow: hidden;
    text-overflow: ellipsis;
}
#navmenu button{
    background-color: hsl(180, 23%, 91%);
    padding: 10px 15px;
}
.endPunkt{
    font-size: 1.5rem;
    font-weight: 600;
}
.playBtn_container{
    display: flex;
    justify-content: center;
}
.playBtn{
    background-color: hsl(180, 6%, 13%);
    color: white;
    padding: 10px 15px;
    margin-top: 10px;
    width: 50%;
    font-weight: 600;
    animation-name: trColor;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    transition: font-weight 1s ease 0s;
}
@keyframes trColor {
    0%   {background-color: red;}
    25%  {background-color: yellow; color: rgb(114, 127, 114);}
    50%  {background-color: blue;}
    100% {background-color: green;}
}
#answer button{
    background-color: hsl(0, 0%, 80%);
    padding: 5px;
    min-width: 100px;
    height: 40px;
    width: 45%;
}
/*btn hover*/
#navmenu button:hover{
    background-color: hsl(180, 23%, 100%);
}
.playBtn:hover{
    font-weight: 500;
}
#answer button:hover{
    background-color: hsl(0, 0%, 90%);
}
/*---*/
main {
    background: LightYellow;
    overflow: hidden;
}

aside {
    background: yellowgreen;
}

footer {
    background: Wheat;
    text-align: center;
    height: 10vh;
    padding: 10px;
}

#navmenu, main, aside{
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
}

header, main, #navmenu, aside, footer {
    border-radius: 0.5em;
    border: 1px solid #ccc;
    border-radius: 0.5em;
}

#text_message{
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
}

.netz_container{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px 15px;
}

#netz_img{
    width: 50px;
    height: 50px;
    object-fit: cover;
}

#netz_text{
    font-size: 1.2rem;
    font-weight: 600;
}

.container_main{
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}

.grid_item_container_navbar, .grid_item_container_main, .grid_item_container_sidebar{
    padding: 1px;
    box-sizing: border-box;
}

.punkt_bar_container{
    display: flex;
    gap: 10px;
}

.punkt_bar{
    width: 100%;
    background-color: rgb(228, 215, 215);
    font-size: 1rem;
    font-weight: 600;
    border-radius: 5px;
    overflow: hidden;
}

#rPunkt{
    width: 0%;
    padding: 3px 0px;
    background: linear-gradient(90deg, rgb(21, 125, 33) 0%, rgb(80, 233, 66) 100%);
    transition: width 0.5s ease;
    border-radius: 5px;
}

#fPunkt{
    width: 0%;
    padding: 3px 0px;
    background: linear-gradient(90deg, rgb(162, 37, 37) 0%, rgb(255, 0, 0) 100%);
    transition: width 0.5s ease;
    border-radius: 5px;
}

.server_address_form_container{
    padding: 30px 15px;
    margin-left: auto;
    margin-right: auto;
}

.server_address_title{
    margin: 20px 0 10px 0;
    font-size: 1.1rem;
}

.server_address_form{
    display: flex;
    width: 100%;
}

.server_address_form > *{
    border: 1px solid hsl(0, 0%, 87%);
    color: #322f2f;
    padding: 7px 10px;
    outline: 0;
    transition: background-color 0.15s ease-in-out, color 0.25s ease-in-out;
    border-radius: 0px;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
}

.server_address_form > *:hover{
    background-color: hsl(0, 0%, 98%);
    color: hsl(0, 0%, 0%);
}

.input_ip{
    width: 60%;
}

.input_port{
    width: 25%;
}

.ip_submit_btn{
    width: 15%;
    background-color: hsl(208, 25%, 90%);
    font-size: 0.8rem;
}

@media (max-width: 575px) {
    body{
        max-width: 575px;
    }

    .grid_item_container_navbar, .grid_item_container_main, .grid_item_container_sidebar{
        width: 100%;
    }
}

@media (min-width: 576px) and (max-width: 767px){
    body{
        max-width: 767px;
    }

    .grid_item_container_navbar, .grid_item_container_main, .grid_item_container_sidebar{
        width: 100%;
    }
}

@media (min-width: 768px) and (max-width: 991px){
    body{
        max-width: 991px;
    }

    .grid_item_container_navbar{
        width: calc(40%);
    }

    .grid_item_container_sidebar{
        width: 100%;
    }

    .grid_item_container_main{
        width: calc(60%);
    }
}

@media (min-width: 992px) and (max-width: 1199px){
    body{
        max-width: 1199px;
    }

    .grid_item_container_navbar, .grid_item_container_sidebar{
        width: calc(50%/2);
    }

    .grid_item_container_main{
        width: calc(50%);
    }
}

@media (min-width: 1200px) and (max-width: 1399px){
    body{
        max-width: 1399px;
    }

    .grid_item_container_navbar, .grid_item_container_sidebar{
        width: calc(45%/2);
    }

    .grid_item_container_main{
        width: calc(55%);
    }
}

@media (min-width: 1400px) {
    body{
        max-width: 1400px;
    }

    .grid_item_container_navbar, .grid_item_container_sidebar{
        width: calc(40%/2);
    }

    .grid_item_container_main{
        width: calc(60%);
    }
}